@model FrontEnd.WebApplication.Models.ESystemViewModel

@{
    ViewBag.Title = "Create";
}
@using RLI.Common.Managers


@{
    Dictionary<string, string> Locale = ViewBag.Locale;
    ViewBag.Title = Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "CreatePageTitle"));
}

<style>
    .select2-results__group {
        color: #0E8BF2 !important;
        font-size: 20px !important;
        font-weight: bold;
    }
</style>

<div class="m-portlet m-portlet--mobile" id="EsystemDiv">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    @Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "CreatePageAddProviders"))
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
        </div>
    </div>
    <div class="m-portlet__body" style="padding:10px;">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "createForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">

                    <div class="col-md-12">
                        @Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "CreatePageProviderName"))<br />
                        @Html.EditorFor(model => model.ESystemName, new { htmlAttributes = new { @class = "form-control", style = "width:100%" } })
                        @Html.ValidationMessageFor(model => model.ESystemName, Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "CreatePageProviderError")).ToString(), new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <input type="submit" id="submitBtn" value="@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "CreatePageCreateProvider"))" class="btn m-btn--pill btn-outline-brand m-btn m-btn--outline-2x w-100 submitBtn" />

                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <input type="submit" id="submitBtnAndContinue" value="@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "CreatePageCreateAndContinueProvider"))" class="btn m-btn--pill btn-outline-brand m-btn m-btn--outline-2x w-100 submitBtn" />

                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 mt-1">
                            <a class="btn m-btn--pill btn-outline-metal m-btn m-btn--outline-2x w-100" href="@Url.Action("Index","ESystems")">@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "CreatePageBackToProviders"))</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group" hidden>
                <label class="control-label col-md-2">Continue</label>
                <div class="col-md-12">
                    <input name="Continue" id="Continue" />
                </div>
            </div>
        }
    </div>

</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/assets/vendors/select2/dist/js/select2.full.min.js")

    <script>

        $(document).ready(function () {



            $(".submitBtn").click(function () {
                mApp.block($("#EsystemDiv"));
                if ($(this).attr("id") == "submitBtn") {
                    event.preventDefault();
                    $('#Continue').val("false");
                    $('#createForm').submit();
                } else {
                    event.preventDefault();
                    $('#Continue').val("true");
                    $('#createForm').submit();
                }


            });

        });

    </script>
}


