@model IEnumerable<RLI.EntityFramework.EDM.Grade>
@using RLI.Common.Managers
@{
    ViewBag.Title = "Index";
    Dictionary<string, string> Locale = ViewBag.Locale;
}

<style>
    .m-portlet__body {
        overflow: auto !important;
        padding: 20px;
    }


</style>



<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    @Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "GradesPageGrades"))
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
            <div class="m-portlet__nav">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a href="@Url.Action("Create", "Grades")" class="m-portlet__nav-link m-portlet__nav-link--icon"><i class="la la-plus-square"><span>@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "GradesPageCreate"))</span></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="m-portlet__body" style="padding:10px">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            @Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "GradesPageFilter"))
                        </h3>
                    </div>
                </div>
            </div>
            <div class="m-portlet__body" style="padding:20px">
                <div class="row">
                    <div class="col-md-3">
                        @Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "GradesPageGrade"))
                        @Html.DropDownList("GradeDropDown", (SelectList)ViewBag.GradeDropDown, "", new { style = "width:100%", id = "GradeDropDown" })
                    </div>
                    <div class="col-md-1 mt-1">
                        <span class="clearBtnHiddenBtn" style="visibility:hidden">clear</span>
                        <button class="btn btn btn-sm btn-brand m-btn m-btn--icon m-btn--pill m-btn--wide btn-danger clearFilterClassBtn" data-filter="GradeDropDown">X</button>
                    </div>
                    <div class="col-md-3">
                        @Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "GradesPageCycle"))
                        @Html.DropDownList("CycleDropDown", (SelectList)ViewBag.CycleDropDown, "", new { style = "width:100%", id = "CycleDropDown" })
                    </div>
                    <div class="col-md-1 mt-1">
                        <span class="clearBtnHiddenBtn" style="visibility:hidden">clear</span>
                        <button class="btn btn btn-sm btn-brand m-btn m-btn--icon m-btn--pill m-btn--wide btn-danger clearFilterClassBtn" data-filter="CycleDropDown">X</button>
                    </div>
                    <div class="col-md-3">
                        @Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "GradesPageVisibility")) <br />
                        <select id="Visibility" name="Visibility" style="width:100%">
                            <option></option>
                            <option value="false">@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "GradesPageFalse"))</option>
                            <option value="true">@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "GradesPageTrue"))</option>
                        </select>
                    </div>
                    <div class="col-md-1 mt-1">
                        <span class="clearBtnHiddenBtn" style="visibility:hidden">clear</span>
                        <button class="btn btn btn-sm btn-brand m-btn m-btn--icon m-btn--pill m-btn--wide btn-danger clearFilterClassBtn" data-filter="Visibility">X</button>
                    </div>

                </div>
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-md-3">
                        <span class="clearBtnHiddenBtn" style="visibility:hidden">apply</span>
                        <button href="" class="btn m-btn--pill btn-outline-brand m-btn m-btn--outline-2x w-100" id="applyBtn">@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "GradesPageApply"))</button>
                    </div>
                    <div class="col-md-3">
                        <span class="clearBtnHiddenBtn" style="visibility:hidden">clear</span>
                        <button class="btn m-btn--pill btn-outline-danger m-btn m-btn--outline-2x w-100" id="clearBtn">@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "GradesPageClear"))</button>
                    </div>
                </div>

            </div>
        </div>
        <div id="gradeTable">
            @Html.Partial("_GradesTable")
        </div>
    </div>
    <div class="m-portlet__foot">
        <div class="row">
            <div class="col-md-3">
                <button class="btn m-btn--pill btn-outline-brand m-btn m-btn--outline-2x w-100" id="previousBtn" style="display:none;">@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "GradesPagePrevious"))</button>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-3">
                <button class="btn m-btn--pill btn-outline-brand m-btn m-btn--outline-2x w-100" id="nextBtn">@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "GradesPageNext"))</button>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("GetNextOrPreviousGrades", "Grades", FormMethod.Post, new { id = "FilterHidden", @class = "", @style = "display:none;" }))
{
    @Html.AntiForgeryToken()

}
@section Scripts {

    <!--begin::Page Vendors -->
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/assets/vendors/select2/dist/js/select2.full.min.js")
    @Scripts.Render("~/assets/vendors/custom/datatables/datatables.bundle.js")

<script>
        var table;
    function initTable() {

        table = $('#m-table').DataTable({
                "language": {
                 "info": "@UtilitiesManager.GetFieldLabel(Locale, "DataTableShowing") _START_ @UtilitiesManager.GetFieldLabel(Locale, "DataTableTo") _END_ @UtilitiesManager.GetFieldLabel(Locale, "DataTableOf") _TOTAL_ @UtilitiesManager.GetFieldLabel(Locale, "DataTableEntries")",
            },
                dom: `<'row'<'col-sm-12 col-md-9'><'col-sm-12 col-md-3 align-edge'>>
                    <'row'<'col-sm-12'tr>>
                    <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,

            "paginate": false,
            "ordering": false,
            responsive: !0,
            pagingType: "full_numbers",
            columnDefs: [{
                targets: -1,
                title: "@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "GradesPageActions"))",
                orderable: !1,
                render: function (a, e, n, t) {

                    return '\n<span class="dropdown">' +
                        '\n<a href="#" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">' +
                        '\n<i class="la la-ellipsis-h"></i>\n</a>\n<div class="dropdown-menu dropdown-menu-right">' +
                        '\n                                <a class="dropdown-item" href="@Url.Action("Delete")/' + n[0] + '"><i class="la la-trash"></i>@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "GradesPageDelete"))</a>' +
                        '\n                                <a class="dropdown-item" href="@Url.Action("Edit")/?id=' + n[0] + '"><i class="la la-edit"></i> @Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "GradesPageEdit"))</a>' +
                        '\n                                <a class="dropdown-item" href="@Url.Action("Details")/?id=' + n[0] + '"><i class="la la-info"></i> @Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "GradesPageDetails"))</a>' +
                        '\n</div>\n</span>\n'
                }
            }, {
                targets: 0,
                visible: false,
            }],
            "stateSave": true
        });

        }
        $(document).ready(function () {
            initTable();
            $('#GradeDropDown').select2({
                placeholder: '@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "GradesPageSelectGrade"))'
            });
            $('#CycleDropDown').select2({
                placeholder: '@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "GradesPageSelectCycle"))'
            });
            $('#Visibility').select2({
                placeholder: '@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "GradesPageSelectVisibility"))'
            });

            $('#applyBtn').on('click', function () {
                mApp.block($("#gradeTable"));

                $.ajax({
                url: '@Url.Action("GetNextOrPreviousGrades", "Grades")',
                type: 'POST',
                dataType: 'html',
                data: {
                    skip: 0, gradeKey: $('#GradeDropDown').val(), cycleKey: $('#CycleDropDown').val(), visibility: $('#Visibility').val(),
                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()

                },
                    success: function (data) {


                    if (data.includes("Empty")) {
                        $("#gradeTable").empty();
                        $("#gradeTable").html("@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "_NoResultFound"))");
                        $('#nextBtn').hide();
                        $('#previousBtn').hide();
                    } else {
                        table.destroy();
                        console.log(data);
                        $("#gradeTable").empty();
                        $("#gradeTable").html(data);
                        $('#nextBtn').show();
                        initTable();
                    }

                    mApp.unblock($("#gradeTable"));
                }
            });
            });

         var paginationIndexing = 0;
            $("#nextBtn").click(function () {
                var grade = $("#GradeDropDown option:selected").val();
                var cycle = $("#CycleDropDown option:selected").val();

                paginationIndexing++;
                mApp.block($("#gradeTable"));

                $.ajax({
                    url: '@Url.Action("GetNextOrPreviousGrades", "Grades")',
                    type: 'POST',
                    dataType: 'html',
                    data: {
                        skip: paginationIndexing, gradeKey: grade, cycleKey: cycle, visibility: $('#Visibility').val(),
                        __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()

                    },
                    success: function (data) {
                        console.log(data);
                        if (data.includes("Empty")) {
                            paginationIndexing--;
                            $("#nextBtn").hide();
                            $("#previousBtn").show();
                        } else {

                            $("#gradeTable").empty();
                            $("#gradeTable").html(data);
                            initTable();

                        }
                        if (paginationIndexing == 0) {
                            $("#previousBtn").hide();
                        } else {
                            $("#previousBtn").show();
                        }

                        mApp.unblock($("#gradeTable"));
                    }
                });
            });

        $("#previousBtn").click(function () {
            var grade = $("#GradeDropDown option:selected").val();
            var cycle = $("#CycleDropDown option:selected").val();


            $("#nextBtn").show();
            paginationIndexing= parseInt(--paginationIndexing,10);

           mApp.block($("#gradeTable"));

                $.ajax({
                url: '@Url.Action("GetNextOrPreviousGrades", "Grades")',
                type: 'POST',
                dataType: 'html',
                data: {
                    skip: paginationIndexing, gradeKey: grade, cycleKey: cycle, visibility: $('#Visibility').val(),
                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()

                },
                success: function (data) {
                    $("#gradeTable").empty();
                    $("#gradeTable").html(data);
                    if (paginationIndexing == 0) {
                $("#previousBtn").hide();
            } else {
                  $("#previousBtn").show();
            }
                    initTable();

                    mApp.unblock($("#gradeTable"));
                }
            });


        });

            $("#clearBtn").click(function () {
                $("#GradeDropDown").val('').trigger('change');
                $("#CycleDropDown").val('').trigger('change');
                $("#Visibility").val('').trigger('change');
            });

            $('.clearFilterClassBtn').click(function () {
                var id = $(this).attr('data-filter');
                $('#' + id).val('').trigger('change');
            });
    });

</script>




}