@model RLI.WebApplication.Models.SynchronousSessionsAudienceViewModel
@using RLI.Common.Managers
@{
    Dictionary<string, string> Locale = ViewBag.Locale;
}

<style>
    .col-form-label {
        margin-top: 7px;
    }
</style>

@using (Html.BeginForm("SessionEditAudience", "SynchronousSessions", FormMethod.Post, new { @class = "m-form m-form--label-align-left", @id = "sessionEditAudienceForm", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="m-form__heading">
        <h3 class="font-weight-bold">
            @Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "SynchronousSessionsPageEditSessionAudience"))
        </h3>
    </div>
    <div class="form-horizontal">
        <div class="m-form__content">
            @*@Html.ValidationSummary("", new { @class = "text-danger mt-4" })*@
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-3 col-form-label text-primary">@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "SynchronousSessionsPageEditSelectSchool"))</label>
            <div class="col-lg-9">
                @{string schoolvalidation = Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "SynchronousSessionsPageEditFeildRequired1")).ToString(); }
                <span>
                    <select id="SchoolsDropDown" class="select-field form-control" style="width:100%">
                    </select>
                    @Html.HiddenFor(model => model.SchoolKey)
                    @Html.HiddenFor(model => model.SchoolDisplayName)
                </span>
                <span class="m-form__help m--margin-left-30">@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "SynchronousSessionsPageEditStartBySelectingSchool"))</span>
                @Html.ValidationMessageFor(model => model.SchoolKey, schoolvalidation, new { @class = "text-danger m--margin-left-20 m--margin-top-5", @style = "display:block;" })
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-3 col-form-label text-primary">@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "SynchronousSessionsPageEditSelectGrade"))</label>
            <div class="col-lg-9">
                <span>
                    @{string gradevalidatiom = Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "SynchronousSessionsPageEditFeildRequired1")).ToString(); }
                    <select id="GradesDropDown" class="select-field form-control" style="width:100%">
                    </select>
                    @Html.HiddenFor(model => model.GradeKey)
                    @Html.HiddenFor(model => model.GradeDisplayName)
                </span>
                <span class="m-form__help m--margin-left-30">@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "SynchronousSessionsPageEditThenSelectGrade"))</span>
                @Html.ValidationMessageFor(model => model.GradeKey, gradevalidatiom, new { @class = "text-danger m--margin-left-20 m--margin-top-5", @style = "display:block;" })
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-3 col-form-label text-primary">@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "SynchronousSessionsPageEditSelectSubject"))</label>
            <div class="col-lg-9">
                @{string subject = Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "SynchronousSessionsPageEditFeildRequired1")).ToString(); }
                <select id="SubjectsDropDown" class="select-field form-control" style="width:100%">
                </select>
                @Html.HiddenFor(model => model.SubjectKey)
                @Html.HiddenFor(model => model.SubjectDisplayName)
                <span class="m-form__help m--margin-left-30">@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "SynchronousSessionsPageAndFinallySelectTheSubject"))</span>
                @Html.ValidationMessageFor(model => model.SubjectKey, subject, new { @class = "text-danger m--margin-left-20 m--margin-top-5", @style = "display:block;" })
            </div>
        </div>
        <div class="form-group m-form__group row">
            <label class="col-lg-3 col-form-label text-primary"> @Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "SynchronousSessionsPageEditSelectChapter"))</label>
            <div class="col-lg-9">

                <span>
                    <select id="topicDropDown" class="select-field form-control" style="width:100%">
                    </select>
                    @Html.HiddenFor(model => model.ChapterKey)
                </span>
                <span class="m-form__help m--margin-left-30">@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "SynchronousSessionsPageEditStartBySelectingChapter"))</span>

            </div>
        </div>
    </div>
}

