
@model CleverOwl.WebApplication.Models.ToDoViewModel

@using RLI.Common.Managers


@{
    ViewBag.Title = "To Do List";
    Dictionary<string, string> Locale = ViewBag.Locale;
}
@Styles.Render("~/assets/vendors/select2/dist/css/select2.min.css")
@Styles.Render("~/assets/vendors/jstree/dist/themes/default/style.min.css")
@Styles.Render("~/assets/vendors/select2/dist/css/select2.min.css")

<style>
    .select2-results {
        padding: 15% !important;
    }


    svg {
        height: 50px;
    }

    .page-banner {
        margin-top: 45px !important;
        height: fit-content;
        /* margin-bottom: 30px;*/
        background-color: #ffffff;
        overflow: visible !important;
    }
  .todos-container{
      margin-top:50px;
  }
    .page-body {
        padding: 0;
        margin-bottom: 50px;
    }

    .grid-card {
        box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
        border-radius: 25px;
        padding: 40px;
        background: linear-gradient( to left, rgb(115 110 197 / 80%) 0%, rgb(68 60 182) 100% ) left bottom #ffffff no-repeat;
        background-size: 100% 18px;
        cursor: pointer;
    }

        .grid-card:hover {
            background: #c3c3c31f;
        }



    .grid-card-body {
        margin-top: 25px;
        font-weight: 100;
    }

    .grid-card-footer {
        margin-top: 50px;
        margin-bottom: -10px;
    }

    .table-row {
        display: table-row;
        height: auto;
    }

    .table-cell1 {
        border: none;
        display: table-cell;
        padding: 2px;
        width: 80%
    }

    .table-cell2 {
        border: none;
        display: table-cell;
        padding: 2px;
    }

    video {
        max-width: 398px;
        max-height: 130px;
    }


    .select2-selection__clear {
        padding-top: 8px !important;
    }

    .show-calendar {
        visibility: hidden;
    }

    h2 {
        /*font-size: 31px;*/
        width: 100%;
        font-weight: bold;
        text-align: center;
    }


    .completed-todo {
        background: #6bff622e;
    }

    .duedate-todo {
        background: #f388881f;
    }


    .previousDayBtn, .nextDayBtn {
        background: none;
        border: none;
        cursor: pointer;
    }

    .m-portlet {
        background: #fdfafa;
        padding: 5px;
    }

    p {
        margin-top: 10px;
    }

    .searchInput {
        width: 100%;
        margin-top: 20px;
    }


    .previousDayBtn i, .nextDayBtn i {
        font-size: 40px;
        color: #f98e47;
    }


    .head-title {
        width: 100%;
        padding: 10px;
    }

        .head-title h3 {
            color: #c3c3c3;
            padding-left: 33px;
            font-style: italic;
        }

    #dateText {
        cursor: pointer;
    }

    .upper-part {
        margin-top: 24px;
    }

    .calendar {
        position: absolute;
        top:30px;
        left: 50%;
        right: 50%;
        transform: translate(-50%, 10px);
        z-index: 2;
    }

    .month-list > div {
        cursor: pointer;
    }

    .arrow-container button {
        background: none;
        border: none;
        cursor: pointer;
    }

    .info-error-container {
        margin-top: -19px;
        border-radius: 49px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background: white;
        padding: 11px 20px;
    }

    #go-mobile {
        display: none;
    }

    .courseBtn {
        border: 0;
        padding: 10px 20px;
        border-radius: 16px;
        margin-top: 10px;
        color: #2b2376;
        background: #f9f5f7;
    }

        .courseBtn:hover {
            color: white;
            background: #f98e47;
        }

    .show-grades {
        display: none;
    }

    .gradefilterAll {
        background: rgb(43, 35, 80);
        color: white;
    }

    .gradeBtn:hover {
        color: white;
        background: rgb(43, 35, 80);
    }


    @@media(max-width:985px) {
        .head-title h3 {
            padding-left: 34px;
        }

        p {
            margin-top: 0px;
        }
    }





    @@media(max-width:580px) {

       /* h2 {
            font-size: 1.1em;
        }*/

        .m-accordion {
            display: none;
        }

        .show-grades {
            display: block;
            border: 0px;
            border-radius: 16px;
            margin: 10px;
        }

        .select {
            margin: 0px;
        }

        .calendar-header {
            font-size: 18px !important;
        }
    }

    @@media(max-width:450px) {
       /* h2 {
            font-size: 1em;
        }*/
    }
</style>



<section class="page-banner">
    <div class="container">
        <div class="page-title-wrapper">
            <div>
                <ul class="bradcurmed">
                    <li><a href="@Url.Action("Index", "Dashboard")" rel="noopener noreferrer">@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "DashboardTitle"))</a></li>
                    <li><a href="@Url.Action("Index", "ToDoList")" rel="noopener noreferrer">@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "ToDoPageTitle1"))</a></li>
                </ul>
            </div>
            <div class="row m--margin-top-20-desktop">
                <div class="col-lg-1 m-auto m--hidden-tablet m--hidden-mobile">

                    @Html.Partial("~/Views/SharedSvgs/_AssignmentsIcon.cshtml")

                </div>
                <div class="col-lg-5 col-12 m-auto">
                    <h1 class="page-title">@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "ToDoPageTitle1"))</h1>
                </div>
                <div class="col-lg-3  m-auto">
                </div>
                <div class="col-lg-3 col-12 m-auto">


                </div>
            </div>


        </div>


    </div>
</section>

<section class="page-body">
    <div class="container">

        <div class="row m-auto" dir="ltr">
            <div class="upper-part col-xl-12 col-lg-12">
                @Html.Partial("_UpperPartPartialTest", Model)
            </div>
        </div>
    </div>


</section>



@section Scripts{

    @Scripts.Render("~/assets/vendors/select2/dist/js/select2.full.min.js")
<script>
    $("#footer").remove();
    $('.RenderBody').removeClass('col-lg-9 col-md-9');
    $('.RenderBody').prev().remove();
        $(".m-portlet__nav").hide();
    $(document).on('click', '.show-grades', function () {
        if ($(this).text() === "Show filters") {
            $(this).text("Hide filters");
        }
        else {
            $(this).text("Show filters");
        }
        $(".m-accordion").toggle();
    })

    var grade = "-1";

    $(document).on('click', '.gradeBtn', function () {
        var btns = $('.gradeBtn');

        for (var i = 0; i < btns.length; i++) {
            if ($(btns[i]).data('filter') === "all") {
                $(this).css('color', 'white');
                $(this).css('background', '#2b2350');
                for (var j = i+1; j < btns.length; j++) {

                    $(btns[j]).css('color', '#2b2350');
                    $(btns[j]).css('background', '#fff');
                }
            }
            else {
                $(btns[0]).css('color', '#2b2350');
                $(btns[0]).css('background', '#fff');
                $(this).css('color', 'white');
                $(this).css('background', '#2b2350');
            }
        }

        grade = $(this).data('id');
       // Search();
    })

    var items = $(".item-todo");
    if (items.length != 0) {
        $(items[items.length - 1]).addClass("no-border");

    }
        $("#searchInput").parent().parent().remove();
    //searchInput change
    $(document).on('input', '.searchInput', function () {
        if ($(".searchInput").val().length >= 3 || $(".searchInput").val().length == 0) {
            setTimeout(function () { Search() }, 2000);
            // Search()
            $(".info-error-container").css('display', 'none');
        }
        else {
            $(".info-error-container").css('display', 'block');
        }
    })

        $(document).on('focusout', '.searchInput', function () {
                $(".info-error-container").css('display', 'none');

        })

        //search call function
        function Search() {
            mApp.block('.todos-container');
            var querySearch = $(".searchInput").val();
            var dateSent = $("#dateText").text();
            $.ajax({
                url: '@Url.Action("SearchView")',
                type: "POST",
                dataType: "html",
                data: {
                    query: querySearch,
                    date: dateSent,
                    sstgKey: '@ViewBag.SSTGKey',
                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()
                },
                success: function (response) {

                    mApp.unblock('.todos-container');
                    $(".todos-container").empty();
                    $(".todos-container").html(response);
                    var items = $(".item-todo");
                    if (items.length != 0) {
                        $(items[items.length - 1]).addClass("no-border");

                    }

                },
                error: function () {
                    mApp.unblock('.todos-container');
                    swal("Something Went Wrong!", "We couldn't filter your sessions, please try again later.", "error");
                }
            })
        }




        //Date Manipulation (Prev)
    $(document).on('click', '.previousDayBtn', function () {
            grade = "-1";
            mApp.block(".todos-container");
            var dateSent = $("#dateText").text();
             $.ajax({
                url: '@Url.Action("DateManipulationView")',
                type: "POST",
                dataType: "html",
                 data: {
                     optionNeeded: "prev",
                     date: dateSent,
                     SSTGKey: '@ViewBag.SSTGKey',
                     __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()
                 },
                 success: function (response) {
                     mApp.unblock(".todos-container");
                     $(".upper-part").empty();
                     $(".upper-part").html(response);
                     var items = $(".item-todo");
                     if (items.length != 0) {
                         $(items[items.length - 1]).addClass("no-border");

                     }
                     initRefreshCalendar();
                     $(".m-portlet__nav").hide();
                    },
                error: function () {
                    swal("Something Went Wrong!", "We couldn't filter your sessions, please try again later.", "error");
                }
            })
        })

        //DateManipulation (Next)
    $(document).on('click', '.nextDayBtn', function () {
            grade = "-1";
            var dateSent = $("#dateText").text();
            mApp.block(".todos-container");

           $.ajax({
                url: '@Url.Action("DateManipulationView")',
                type: "POST",
                dataType: "html",
               data: {
                   optionNeeded: "next",
                   date: dateSent,
                   SSTGKey: '@ViewBag.SSTGKey',
                   __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()
               },
               success: function (response) {
                   $(".upper-part").empty();
                   $(".upper-part").html(response);
                   var items = $(".item-todo");
                   if (items.length != 0) {
                       $(items[items.length - 1]).addClass("no-border");

                   }
                   mApp.unblock(".container");
                   initRefreshCalendar();
                   $(".m-portlet__nav").hide();
                    },
               error: function () {
                   mApp.unblock(".todos-container");
                    swal("Something Went Wrong!", "We couldn't filter your sessions, please try again later.", "error");
                }
            })
       })




        //Calendar
        const month_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
        var currDate = new Date()
        var curr_month = { value: currDate.getMonth() }
    var curr_year = { value: currDate.getFullYear() }

    $(document).ready(function () {
        generateCalendar(curr_month.value, curr_year.value);

    })

    function initRefreshCalendar() {


        let calendar = document.querySelector('.calendar');

        let month_list = $('.month-list')

        generateCalendar(curr_month.value, curr_year.value)

    }
    $(document).on('click', '.month-list > div', function () {

            $(".month-list").removeClass('show')
            $(".calendar-header").css("visibility", "visible")
            $(".calendar-body").css("visibility", "visible")
            curr_month.value = $(this).attr('data-month')
            generateCalendar(curr_month.value, curr_year.value)


    })

    function checkifExist(arr, elem) {
        for (var i = 0; i < arr.length; i++) {
            if (arr[i] === elem) return true;
        }
        return false;
    }
        isLeapYear = (year) => {
            return (year % 4 === 0 && year % 100 !== 0 && year % 400 !== 0) || (year % 100 === 0 && year % 400 === 0)
        }

        getFebDays = (year) => {
            return isLeapYear(year) ? 29 : 28
    }



        var days_of_month = [31, getFebDays(year), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

    function generateCalendar(month, year) {
        let calendar_days = $('.calendar-days')
        let calendar_header_year = $('#year')



        calendar_days.empty();
        //calendar_days.innerHTML = ''


        let currDate = new Date()

        let curr_month = `${month_names[month]}`



        $("#month-picker").empty()
        $("#month-picker").text(curr_month)
        //month_picker.innerHTML = curr_month

        calendar_header_year.empty()
        calendar_header_year.append(year)

        // calendar_header_year.innerHTML = year

        // get first day of month

        let first_day = new Date(year, month, 1)


        //Test AJAX days
        var dateToSend = month_names[month] + " " + year;

        console.log("dateToSenddateToSend");
        console.log(dateToSend);
            $.ajax({
                url: '@Url.Action("DaysManipulationView","ToDoList")',
                type: "POST",
                dataType: "json",
               data: {
                   date: dateToSend,
                   sstgKey: '@ViewBag.SSTGKey',
                   __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()
                },
                success: function (response) {
                    console.log("la2atik1233");
                    console.log(response);
                        mApp.unblock(".calendar-body");
                         for (let i = 0; i <= days_of_month[month] + first_day.getDay() - 1; i++) {

                           let day = document.createElement('div')
                           if (i >= first_day.getDay()) {
                               day.classList.add('calendar-day-hover')
                               day.innerHTML = i - first_day.getDay() + 1
                               //hone i get the date

                               var dayToCheck = i - first_day.getDay() + 1+"";
                               if (checkifExist(response, dayToCheck)) {
                                   day.classList.add('day-work');
                               }


                               if (i - first_day.getDay() + 1 === currDate.getDate() && year === currDate.getFullYear() && month === currDate.getMonth()) {
                                   day.classList.add('curr-date')
                               }

                             }

                           calendar_days.append(day)
                           //calendar_days.appendChild(day)
                       }

                        },
                error: function (err) {
                    console.log("la2atik");
                    console.log(err);
                    swal("Something Went Wrong!!!123", "We couldn't filter your sessions, please try again later.", "error");
                }
            })



    }





        let month_picker = $('#month-picker')

    $(document).on('click', '#month-picker', function () {
        let month_list = $('.month-list')
            month_list.addClass('show')
            $(".calendar-header").css("visibility", "hidden")
            $(".calendar-body").css("visibility", "hidden")
        })





        $(document).on('click', '#prev-year', function () {
            --curr_year.value
            generateCalendar(curr_month.value, curr_year.value)
        })

        $(document).on('click', '#next-year', function () {
            ++curr_year.value
            generateCalendar(curr_month.value, curr_year.value)
        })



    $(document).on('click', '.day-work', function () {
            grade = "-1";
            $(".calendar").toggle();
            var day = $(this).text();
            var month = $("#month-picker").text();
            var year = $("#year").text();
            var dateToSend = day + " " + month + " " + year;

            mApp.block(".todos-container");

           $.ajax({
                url: '@Url.Action("DateManipulationView")',
                type: "POST",
                dataType: "html",
               data: {
                   optionNeeded: "none",
                   date: dateToSend,
                   SSTGKey: '@ViewBag.SSTGKey',
                   __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()
               },
               success: function (response) {
                   $(".upper-part").empty();
                   $(".upper-part").html(response);
                   mApp.unblock(".container");
                   initRefreshCalendar();
                   var items = $(".item-todo");
                   if (items.length != 0) {
                       $(items[items.length - 1]).addClass("no-border");

                   }
                   $(".m-portlet__nav").hide();
                    },
               error: function () {
                   mApp.unblock(".todos-container");
                    swal("Something Went Wrong!", "We couldn't filter your sessions, please try again later.", "error");
                }
            })

        })




        var month = "January";
        var index = 0;

        $(document).on('click', '#prev-year-mobile', function () {
            var oldYear = $("#year-mobile").text();
            var newYear = parseInt(oldYear) != NaN ? parseInt(oldYear) - 1 : oldYear;
            $("#year-mobile").text(newYear);

        })
        $(document).on('click', '#next-year-mobile', function () {
            var oldYear = $("#year-mobile").text();
            var newYear = parseInt(oldYear) != NaN ? parseInt(oldYear) + 1 : oldYear;
            $("#year-mobile").text(newYear);
        })

        $(document).on('change', "#month-select2", function () {
            $("#day-mobile").text("1");
           var monthSelected = $("#month-select2 option:selected").val();
            for (var i = 0; i < month_names.length; i++) {
                if (monthSelected === month_names[i]) {
                    month = month_names[i];
                    index = i;
                }
            }

        })

        //Mobile days

        $(document).on('click', '#prev-day-mobile', function () {
            var oldDay = $("#day-mobile").text();
            var newDay = parseInt(oldDay) > 1 ? parseInt(oldDay) - 1 : 1;
           $("#day-mobile").text(newDay);

        })



        $(document).on('click', '#next-day-mobile', function () {

            var oldDay = $("#day-mobile").text();
            var maxDays = parseInt(days_of_month[index]);
            var newDay = 0;
             newDay = parseInt(oldDay) < maxDays ? parseInt(oldDay) + 1 : maxDays;
              $("#day-mobile").text(newDay);

        })



        //select2

        $("#month-select2").select2({ placeholder: "Select a Month" })




        $(document).on('click', "#go-mobile", function () {
            $(".calendar").toggle();
            var day = $("#day-mobile").text();
            var month = $("#month-select2 option:selected").val();
            var year = $("#year-mobile").text();
            var dateToSend = day + " " + month + " " + year;

            mApp.block(".todos-container");

           $.ajax({
                url: '@Url.Action("DateManipulationView")',
                type: "POST",
                dataType: "html",
               data: {
                   optionNeeded: "none",
                   date: dateToSend,
                   SSTGKey: '@ViewBag.SSTGKey',
                   __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()
               },
               success: function (response) {
                   $(".upper-part").empty();
                   $(".upper-part").html(response);
                   mApp.unblock(".container");
                   $("#day-mobile").text("1");
                   $("#month-select2 option:selected").val("January");
                   grade = "-1";
                   $("#year-mobile").text("2022");
                   initRefreshCalendar();
                   $(".m-portlet__nav").hide();
                    },
               error: function () {
                   mApp.unblock(".todos-container");
                    swal("Something Went Wrong!", "We couldn't filter your sessions, please try again later.", "error");
                }
            })
        })

    $(document).on('click', document, function (e) {
        var targets = ['dateText', 'calendar','prev-year-mobile','select2-month-select2-container','next-year-mobile','month-select2','select2', 'calendar-header', 'calendar-body', 'year', 'month-picker', 'month','arrows','prev-year','next-year'];
        for (var i = 0; i < targets.length; i++){
            if (e.target.className === targets[i] || e.target.id === targets[i]) {
                $(".calendar").css("display", "block");
                if ($(".calendar-days").children().length==0) {

                mApp.block(".calendar-body");
                }
                break;
            }
            else {
                $(".calendar").css("display", "none");
            }
    }

    })

        $("#footer").css('display', 'none');


</script>



}

