@model CleverOwl.FrontEnd.WebApplication.Controllers.AspNetRoleViewModel
@using RLI.Common.Managers
@using RLI.EntityFramework.EDM

@{
    Dictionary<string, string> Locale = ViewBag.Locale;

}
<style>
    .select2-results__group {
        color: #0E8BF2 !important;
        font-size: 20px !important;
        font-weight: bold;
    }
</style>

<div class="m-portlet m-portlet--mobile" id="SubjectsDiv">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    @Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "EditPageEditRole"))
                </h3>
            </div>
        </div>
        <div class="m-portlet__head-tools">
        </div>
    </div>
    <div class="m-portlet__body" style="padding:10px;">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label col-md-2" for="Status1">@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "EditPageRoleName"))</label>
                    <div class="col-md-12">

                        <input class="form-control text-box single-line" type="text" name="Name" id="Name" style="width:100%" value="@Model.Name" />
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-md-2" for="Status1">@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "EditPageRoleEdit"))</label>
                    <div class="col-md-12">
                        @Html.DropDownList("RoleType", (SelectList)ViewBag.RoleTypesDropDown, "", new { style = "width:100%", id = "RoleTypesDropDown" })
                    </div>
                    <div class="form-group" hidden>
                        <label class="control-label col-md-2">ID</label>
                        <div class="col-md-12">
                            <input type="text" name="ID" value="@Model.ID" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <input type="submit" value="@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "EditPageSaveRoles"))" id="submitBtn" class="btn m-btn--pill btn-outline-brand m-btn m-btn--outline-2x w-100">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 mt-1">
                            <a class="btn m-btn--pill btn-outline-metal m-btn m-btn--outline-2x w-100" href="@Url.Action("Index","AspNetRoles")">@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "EditPageBackToRoles"))</a>
                        </div>
                    </div>
                </div>

            </div>

        }
    </div>

</div>



@section Scripts {

    <!--begin::Page Vendors -->
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/assets/vendors/select2/dist/js/select2.full.min.js")

    <script>
        $(document).ready(function () {
            $('#RoleTypesDropDown').select2({
                placeholder: '@Html.Raw(UtilitiesManager.GetFieldLabel(Locale, "EditPageSelectRoleType"))',
            });
        });


    </script>


}





