
@{
    ViewBag.Title = "CharTest";
}
@Styles.Render("~/assets/vendors/chart.js/Chart.min.css")
<h2>CharTest</h2>

<div class="m-content">
    <div class="row">
        <div class="col-lg-12">

            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Basic Chart
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="m_flotcharts_1" style="height: 300px;"></div>
                </div>
            </div>

            <!--end::Portlet-->
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Axis Labels
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="m_flotcharts_2" style="height: 300px;"></div>
                </div>
            </div>

            <!--end::Portlet-->
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Tracking Curves
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="m_flotcharts_3" style="height: 300px;"></div>
                </div>
            </div>

            <!--end::Portlet-->
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Dynamic Chart
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="m_flotcharts_4" style="height: 300px;"></div>
                </div>
            </div>

            <!--end::Portlet-->
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Stack Chart Controls
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="m_flotcharts_5" style="height:350px;">
                    </div>
                    <div class="btn-toolbar m--margin-top-20 m--margin-bottom-20">
                        <div class="btn-group stackControls">
                            <input type="button" class="btn btn-success" value="With stacking" />
                            <input type="button" class="btn btn-danger" value="Without stacking" />
                        </div>
                        &nbsp;&nbsp;&nbsp;
                        <div class="btn-group graphControls">
                            <input type="button" class="btn btn-primary" value="Bars" />
                            <input type="button" class="btn btn-brand" value="Lines" />
                            <input type="button" class="btn btn-warning" value="Lines with steps" />
                        </div>
                    </div>
                </div>
            </div>

            <!--end::Portlet-->
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Interactive Chart
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="m_flotcharts_6" style="height: 300px;"></div>
                </div>
            </div>

            <!--end::Portlet-->
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Bar Chart
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="m_flotcharts_7" style="height: 300px;"></div>
                </div>
            </div>

            <!--end::Portlet-->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">

            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Pie Chart 1
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="m_flotcharts_8" style="height: 300px;"></div>
                </div>
            </div>

            <!--end::Portlet-->
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Pie Chart 3
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="m_flotcharts_9" style="height: 300px;"></div>
                </div>
            </div>

            <!--end::Portlet-->
        </div>
        <div class="col-lg-6">

            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Pie Chart 2
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div id="m_flotcharts_10" style="height: 300px;"></div>
                </div>
            </div>

            <!--end::Portlet-->
            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                Pie Chart 4
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <p>Slightly more transparent label backgrounds and adjusted the radius values to place them within the pie.</p>
                    <div id="m_flotcharts_11" style="height: 300px;"></div>
                </div>
            </div>

            <!--end::Portlet-->
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/assets/amcharts4/core.js")
    @Scripts.Render("~/assets/amcharts4/charts.js")
    @Scripts.Render("~/assets/amcharts4/themes/frozen.js")
    @Scripts.Render("~/assets/amcharts4/themes/animated.js")

    <script>
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = am4core.create("m_flotcharts_1", am4charts.PieChart3D);
        chart.legend = new am4charts.Legend();
        chart.radius = am4core.percent(100);
        // Add data
        chart.data = [{
            "lesson": "lesson name 1",
            "count": 5
        }, {
            "lesson": "lesson name 2",
            "count": 3
        }, {
            "lesson": "lesson name 3",
            "count": 2
        }, {
            "lesson": "lesson 4",
            "count": 16
        }, {
            "lesson": "lesson 5",
            "count": 13
        }, {
            "lesson": "lesson 6",
            "count": 12
        }, {
            "lesson": "lesson 7",
            "count": 9
        }];

        // Add and configure Series
        var pieSeries = chart.series.push(new am4charts.PieSeries());
        pieSeries.dataFields.value = "count";
        pieSeries.dataFields.category = "lesson";
        pieSeries.slices.template.stroke = am4core.color("#fff");
        pieSeries.slices.template.strokeWidth = 1;
        pieSeries.slices.template.strokeOpacity = 1;

        // This creates initial animation
        pieSeries.hiddenState.properties.opacity = 1;
        pieSeries.hiddenState.properties.endAngle = -90;
        pieSeries.hiddenState.properties.startAngle = -90;

        chart.exporting.menu = new am4core.ExportMenu();
        chart.exporting.menu.align = "left";
        chart.exporting.menu.verticalAlign = "top";




        var chart = am4core.create("m_flotcharts_2", am4charts.XYChart);
        chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

        chart.data = [
            {
                country: "USA",
                visits: 25400
            },
            {
                country: "China",
                visits: 1882
            },
            {
                country: "Japan",
                visits: 1809
            },
            {
                country: "Germany",
                visits: 1322
            },
            {
                country: "UK",
                visits: 1122
            },
            {
                country: "France",
                visits: 1114
            },
            {
                country: "India",
                visits: 984
            },
            {
                country: "Spain",
                visits: 711
            },
            {
                country: "Netherlands",
                visits: 665
            },
            {
                country: "Russia",
                visits: 580
            },
            {
                country: "South Korea",
                visits: 443
            },
            {
                country: "Canada",
                visits: 441
            }
        ];

        var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.renderer.grid.template.location = 0;
        categoryAxis.dataFields.category = "country";
        categoryAxis.renderer.minGridDistance = 40;
        categoryAxis.fontSize = 11;

        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.min = 0;
        valueAxis.max = 26000;
        valueAxis.strictMinMax = true;
        valueAxis.renderer.minGridDistance = 30;
        // axis break
        var axisBreak = valueAxis.axisBreaks.create();
        axisBreak.startValue = 3100;
        axisBreak.endValue = 22900;
        //axisBreak.breakSize = 0.005;

        // fixed axis break
        var d = (axisBreak.endValue - axisBreak.startValue) / (valueAxis.max - valueAxis.min);
        axisBreak.breakSize = 0.05 * (1 - d) / d; // 0.05 means that the break will take 5% of the total value axis height

        // make break expand on hover
        var hoverState = axisBreak.states.create("hover");
        hoverState.properties.breakSize = 1;
        hoverState.properties.opacity = 0.1;
        hoverState.transitionDuration = 1500;

        axisBreak.defaultState.transitionDuration = 1000;
       

        var series = chart.series.push(new am4charts.ColumnSeries());
        series.dataFields.categoryX = "country";
        series.dataFields.valueY = "visits";
        series.columns.template.tooltipText = "{valueY.value}";
        series.columns.template.tooltipY = 0;
        series.columns.template.strokeOpacity = 0;

        // as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
        series.columns.template.adapter.add("fill", function (fill, target) {
            return chart.colors.getIndex(target.dataItem.index);
        });

    </script>
}